.insert-draft {
    display: grid;
    grid-template-columns: minmax(150px, 400px);
    justify-content: center;
    grid-template-rows: 20px minmax(500px, 1fr);
    padding: 10px;
}

.user-info {
    display: grid;
    grid-template-columns: minmax(150px, 200px);
    justify-content: center;
    grid-template-rows: 20px 100px;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 800px) {
    .main {
        grid-template-rows: repeat(3, max-content);
        grid-template-columns: 1fr;
    }

    .insert-draft {
        grid-template-columns: minmax(150px, 1fr);
    }

    .user-info {
        grid-template-columns: minmax(150px, 1fr);
    }
}